<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-lg-4 col-md-4 ml-10">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <header class="content__title mb-0 mt-2">
            <h1 class="text-primary">File Statistics</h1>
          </header>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div *ngIf=!isLoading>
        <div class="card p-3 mb-0">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="table-responsive">
                <div id="data-table_wrapper" class="">
                  <table id="example3" datatable [dtOptions]="dtOptions" class="table mb-0 dataTable table-hover mt-1 table-condensed table-sm"
                    role="grid" aria-describedby="data-table_info">
                    <thead class="thead-inverse">
                      <tr>
                        <th>PSX Batch ID</th>
                        <th>File Name</th>
                        <th>Result Count</th>
                        <th>Time in Results</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let bulkDto of bulkFileDetailsDTO">
                        <td>{{bulkDto.psxbatchId}}</td>
                        <td>{{bulkDto.fileName}}</td>
                        <td>{{bulkDto.offlineResultCount + bulkDto.onlineResultCount}}</td>
                        <td>{{bulkDto.processedTime}}</td>
                        <td>
                          <!-- <a class="text-danger mr-4" title="Results Download" routerLinkActive="active" (click)="resultdownload()">
                        <i class="zmdi zmdi-collection-pdf"></i>
                      </a> -->
                          <a class="text-primary mr-4" title="Results Navigate" routerLinkActive="active" (click)="bulkUploadResult(bulkDto.psxbatchId, null)">
                            <i class="fa fa-external-link"></i>
                          </a>
                          <a class="text-success" title="Re Process" routerLinkActive="active" (click)="reprocess(bulkDto.psxbatchId)">
                            <i class="fa fa-retweet"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>