<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="welcome_page">
        <div class="welcome_page_logo text-center">
          <img src="../../../assets/welcome_logo.png" title="Posidex Technologies">        </div>
        <h5 class="text-primary welcome_page_heading text-center">Welcome to Client UI</h5>
        <p class="welcome_page_description">Used for Posting Single and Bulk Requests</p>
      </div>
    </div>
  </div>
</div>