.form-group--float>label
{
    top: -15px;
}

.reset_password_screen
{
  width: 27%;
  margin: 0 auto;
  padding-top: 0%;
}

.reset_password_image
{
  text-align: center;
  margin-bottom: 8%;
}
.reset_password_logo
{
  text-align: center;
}
.reset_password_logo img
{
  margin-left: 37px;
}
.reset_password_heading
{
  text-align: center;
  font-size: 15px;
  margin: 15px 0;
}
.card_header
{
  border-bottom: 1px solid #dad8d8;
  padding-top: 15px;
}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  margin-right: 5px;
  position: relative;
  z-index: 2;
}
.forget_password
{
  display: block;
  color: #707070;
  font-size: 15px;
}
.reset_password_image h5
{
  margin-top: 1.5rem;
  color: #707070;
  font-weight: 400;
  font-size: 16px;
}
.page-loader__spinner 
{
  width: 35px;
  height: 35px;
  margin: 0 auto;
  display: none;
}