.bulk_datatable{
    display: none;
  }
.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
    border: 1px solid #b62020;
  }
  
.panel-default > .panel-heading {
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
   
  }
  
.panel-title {
    font-size: 14px;
  }
  
.panel-title > a {
    display: block;
    padding: 17px 15px;
    text-decoration: none;
    border-bottom: 1px solid #eaeaea;
  }
  
.more-less {
    float: right;
    color: #212121;
  }
  
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
    padding: 15px;
  }
  .panel-title > a.collapsed:before {
  float: right !important;
  content:"\f067";
  }
  .panel-title > a:before {
  float: right !important;
  font-family: FontAwesome;
  content:"\f068";
  padding-right: 5px;
  }
  
  .panel-title > a:hover, 
  .panel-title > a:active, 
  .panel-title > a:focus  {
  text-decoration:none;
  }
  .upload_file
  {
    margin-left:5px;
  }
  .upload_file:nth-child(1)
  {
    margin-left:0;
  }

  .tab-content>.tab-pane
  {
    display: block;
  }
  .select_profile,.select_bulk
  {
    border: 1px solid #ccc;
    padding: 0 6px;
    height: 30px !important;
  }

  .select_profile_select:before,.select_bulk_select:before
  {
    bottom: 1px !important;
  }

  .bulk_upload input
  {
    border: 1px solid #ccc;
    height: 30px;
    padding: 3px;
  }